<h1>New Employee</h1>

<%= form_tag "/employees", method: :post do %>
    
    <div>First Name: <input type="text" name="first_name"></div>
    <div>Last Name: <input type="text" name="last_name"></div>
    <div>Email: <input type="text" name="email"></div>
    <div><input type="submit" value="New Employee"></div>
<% end %>